* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-grid {
  width: 100vw;
  height: 100vh;
  margin-bottom: 200px;

  display: grid;
  gap: 1rem;

  /* Explicit grid */
  grid-template-areas:
    "a  b  c  d"
    "e  e  f  f"
    "g  g  h  i"
    "j  k  k  k";

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;
}

.card {
  background: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: skyblue 1px solid;
}

.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card:nth-child(5) {
  grid-area: e;
}
.card:nth-child(6) {
  grid-area: f;
}
.card:nth-child(7) {
  grid-area: g;
}
.card:nth-child(8) {
  grid-area: h;
}
.card:nth-child(9) {
  grid-area: i;
}
.card:nth-child(10) {
  grid-area: j;
}
.card:nth-child(11) {
  grid-area: k;
}
.card:nth-child(12) {
  grid-area: l;
}
